.favorite-btn {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
  padding: 6px 5px 3px 7.5px;
  background: rgba(41, 41, 41, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}


.favorite-btn:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.3);

}

.faved-btn{
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.show-favorites-btn {
  transition: all 0.2s ease-in-out;
  margin-top: -50px;
  border-radius: 15px;
  padding: 9.5px 13px 10px 14px !important;
  gap: 5px;
  z-index: 2;
}

.show-favorites-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.clear-favorites-btn {
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
  margin-top: -50px;
  margin-right: 10rem;
  border-radius: 15px;
  padding: 4px 12px;
  gap: 5px;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 0;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-right: 0rem;
  }
  100% {
    opacity: 1;
    margin-right: 10rem;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}



.clear-favorites-btn:hover {
  color: red;
  text-decoration: underline;
}