header {
    /* background-color: white; */
    background: url('/wall-2.jpg') no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.2); /* Add a dark overlay */
    background-blend-mode: darken;
    padding-bottom: 2rem;
    height: 60vh;
}

h1{
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}